# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# JetBrains IDEs
.idea/

# macOS
.DS_Store

# Data files
data/
enron/extracted_data.csv